# Archivos de entorno
.env
config/sql/.env

# Archivos de dependencias
/vendor/
/node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

/config/sql/.env
/config/composer.json
/config/composer.lock

